[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE1006: Naming Styles
# Consumer need not be aware of using an interface
dotnet_diagnostic.IDE1006.severity = none
